{% extends 'base.html' %}

{% block style_css %}
<style>
.espaciado {
  padding: 25px;
  border: solid white 6px;
}
.fila-del-centro {
    padding: 50px;
}
</style>
{% endblock %}

{% block encabezado %}

{% endblock %}

{% block contenido %}
    <h2>Inicio<h2>
    <br>

    <div class="container text-center" style="max-width: 100%">
      <div class="row">
        <button class="col-sm-6 espaciado botones-inicio" style="background-color: #8888ff" onclick="window.location.href='/lista-mas-visualizados'">
          <div><b class="text-white">Repositorios COVID con más observadores/Watchers</b></div>
        </button>
        <div class="col-sm-6" style="padding: 0px">
          <button class="espaciado botones-inicio" style="background-color: red; width:100%" onclick="window.location.href='/lista'">
            <div>2</div>
          </button>
          <br>
          <button class="espaciado botones-inicio" style="background-color: yellow; width:100%" onclick="window.location.href='/lista'">
            <div>3</div>
          </button>
        </div>
      </div>

      <div class="row">
        <button class="fila-del-centro col-sm-4 espaciado botones-inicio" style="background-color: lightgreen" onclick="window.location.href='/lista'">
          <div>4</div>
        </button>
        <button class="fila-del-centro col-sm-4 espaciado botones-inicio" style="background-color: orange" onclick="window.location.href='/lista'">
          <div>5</div>
        </button>
        <button class="fila-del-centro col-sm-4 espaciado botones-inicio" style="background-color: pink" onclick="window.location.href='/lista'">
          <div>6</div>
        </button>
      </div>

      <div class="row">
        <button class="col-sm-6 espaciado botones-inicio" style="background-color: lightgray" onclick="window.location.href='/lista'">
          <div>7</div>
        </button>
        <button class="col-sm-6 espaciado botones-inicio" style="background-color: aquamarine" onclick="window.location.href='/lista'">
          <div>8</div>
        </button>
      </div>
    </div>

{% endblock %}


