{% extends 'base.html' %}

{% block style_css %}
<style>
.espaciado {
  padding: 25px;
  border: solid white 6px;
}
.fila-del-centro {
    padding: 50px;
}
</style>
{% endblock %}

{% block encabezado %}

{% endblock %}

{% block contenido %}
    <h2>Inicio<h2>
    <br>
    <div class="container text-center" style="max-width: 100%">
      <div class="row">
        <button class="col-sm-6 espaciado botones-inicio invertir_colores" style="background-color: rgb(170, 0, 170)" onclick="window.location.href='/lista-mas-visualizados'; blurDeCarga()">
          <div><b class="text-white">Repositorios COVID con más observadores/watchers</b></div>
        </button>
        <div class="col-sm-6" style="padding: 0px">
          <button class="espaciado botones-inicio invertir_colores" style="background-color: rgb(0, 0, 255); width:100%" onclick="window.location.href='/lista-mas-forks'; blurDeCarga()">
            <div><b class="text-white">Repositorios COVID con más forks</b></div>
          </button>
          <br>
          <button class="espaciado botones-inicio invertir_colores" style="background-color: rgb(255, 255, 0); width:100%" onclick="window.location.href='/lista-mas-estrellas'; blurDeCarga()">
            <div><b>Repositorios COVID con más estrellas</b></div>
          </button>
        </div>
      </div>

      <div class="row">
        <button class="fila-del-centro col-sm-4 espaciado botones-inicio" style="background-color: rgb(0, 190, 0)" onclick="window.location.href='/lista-mejores-lenguajes'; blurDeCarga()">
          <div><b class="text-white">Lenguajes de programación más utilizados en repositorios COVID</b></div>
        </button>
        <button class="fila-del-centro col-sm-4 espaciado botones-inicio" style="background-color: orange" onclick="window.location.href='/lista-primeros-repositorios'; blurDeCarga()">
          <div><b class="text-white">Repositorios COVID que aparecieron primero</b></div>
        </button>
        <button class="fila-del-centro col-sm-4 espaciado botones-inicio" style="background-color: pink" onclick="window.location.href='/lista-mas-actualizados'; blurDeCarga()">
          <div><b class="text-white">Repositorios COVID más actualizados</b></div>
        </button>
      </div>

      <div class="row">
        <div class="col-sm-6" style="padding: 0px">
          <button class="espaciado botones-inicio" style="background-color: lightgray; width:100%" onclick="window.location.href='/lista-mas-proyectos'; blurDeCarga()">
            <div><b class="text-white">Repositorios COVID con más proyectos</b></div>
          </button>
          <br>
          <button class="espaciado botones-inicio" style="background-color: aquamarine; width:100%" onclick="window.location.href='/lista'; blurDeCarga()">
            <div><b class="text-white">Paises más activos en la creación de repositorios COVID</b></div>
          </button>
        </div>
        <button class="col-sm-6 espaciado botones-inicio" style="background-color: #ff5500" onclick="window.location.href='/grafica-de-evolucion'; blurDeCarga()">
          <div><b class="text-white">Representación del número de repositorios COVID que han ido apareciendo con el tiempo</b></div>
        </button>
      </div>

      <script>
        function blurDeCarga() {
          document.getElementsByClassName("body-class")[0].classList.add("blurDeCarga");
          document.getElementsByClassName("loading")[0].style.display = "block";
        }
      </script>

{% endblock %}


