{% extends 'base.html' %}

{% block style_css %}
<style>
table {
  font-family: arial, sans-serif;
  font-size: 50%;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ededed;
}
</style>
{% endblock %}

{% block encabezado %}

{% endblock %}

{% block contenido %}
    <br>
    <h2><b>Repositorios COVID con más observadores/watchers</b><h2>
    <br>
    <table>
        <tr>
            <th class="text-center">Tiempo</th>
            <th class="text-center">Fecha de creación</th>
            <th class="text-center">Id</th>
            <th class="text-center">Nombre</th>
        </tr>
        {% for id,n,c,t in lista %}
        <tr>
            <th class="text-center">{{t}} días</th>
            <th class="text-center">{{c}}</th>
            <th><a href="/show/1">{{id}}</a></th>
            <th><a href="/show/1">{{n}}</a></th>
        </tr>
        {% endfor %}
    </table>
    <br>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <canvas id="chart" width="200" height="100"></canvas>  
    <script>
      let ctx = document.getElementById("chart").getContext("2d");
      let str = "{{tiempos}}".replaceAll("&#x27;", "").replaceAll(/ /g, "").replace("(","").replace(")","");
      let lista_tiempos = str.split(",");
      let lista_valores = "{{valores}}".replaceAll(/ /g, "").replace("(","").replace(")","").split(",");
      let chart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: lista_tiempos,
          datasets: [
            {
              label: "Nº sde repositorios",
              backgroundColor: 'orange',
              borderColor: "#000000", 
              data: lista_valores
              }
            ]
          },
          options: {
            title: {
                text: "Tiempo (en días) desde la creación de los primeros repositorios",
                display: true
            }
          }
        });
    </script>
{% endblock %}
