{% extends 'base.html' %}

{% block style_css %}
<style>
table {
  font-family: arial, sans-serif;
  font-size: 50%;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ededed;
}
</style>
{% endblock %}

{% block encabezado %}

{% endblock %}

{% block contenido %}
    <br>
    <h2 class="text-center"><b>Repositorios COVID con más seguidores/watchers</b><h2>
    <br>
    <table>
        <tr>
            <th class="text-center">Seguidores</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Propietario</th>
            <th class="text-center">Fecha de creación</th>
        </tr>
        {% for own,n,c,o,p in lista %}
        <tr>
            <th class="text-center grafica_support" style="width:{{p}}%">{{o}}</th>
            <th class="text-center"><a href="/show/{{n}}·{{own}}">{{n}}</a></th>
            <th class="text-center">{{own}}</th>
            <th class="text-center">{{c}}</th>
        </tr>
        {% endfor %}
    </table>
    <br>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
    <canvas id="chart" width="200" height="100"></canvas>  
    <script>
      let ctx = document.getElementById("chart").getContext("2d");
      let str = "{{nombres}}".replaceAll("&#x27;", "").replaceAll(/ /g, "").replace("(","").replace(")","");
      let lista_nombres = str.split(",");
      let lista_watchers = "{{watchers}}".replaceAll(/ /g, "").replace("(","").replace(")","").split(",");
      let chart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: lista_nombres,
          datasets: [
            {
              label: "Watchers",
              backgroundColor: 'rgba(170, 0, 170, 0.6)',
              borderColor: "#000000", 
              data: lista_watchers
              }
            ]
          },
          options: {
            title: {
                text: "Número total de seguidores de los distintos repositorios",
                display: true
            }
          }
        });
    </script>
{% endblock %}
