{% extends 'base.html' %}

{% block style_css %}

{% endblock %}

{% block encabezado %}

{% endblock %}

{% block contenido %}
    
    <h2>Repositorio 1<h2>
    <br>

    <div class="text-center">
        <h4><b>Foto:</b></h4> 
        <h4><b>URL del repositorio:</b></h4>
    </div>
    <br>
    <h4><b>Propietario:</b></h4> 
    <h4><b>País de origen:</b></h4> 
    <h4><b>¿Es un fork de otro repositorio?:</b></h4> 
    <br>
    <h4><b>Lenguajes:</b></h4> 
    <h4><b>Labels:</b></h4> 
    <h4><b>Nº de proyectos activos:</b></h4> 
    <h4><b>Fecha del último push:</b></h4> 
    <h4><b>Fecha de la última modificación:</b></h4> 
    <h4><b>Nº de visualizaciones:</b></h4> 
    <h4><b>Nº de estrellitas:</b></h4> 
    <h4><b>Nº de veces que se hicieron fork:</b></h4> 


{% endblock %}
